<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>
<h3>Вход</h3>
<form method="post" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label for="username">Введите логин: </label>
    <input type="text" placeholder="Введите пароль" name="username" id="username">
    <br>
    <label for="password">Введите пароль: </label>
    <input type="password" placeholder="Введите пароль" name="password" id="password">
    <br>
    <input type="submit" value="Войти">
    <div th:if="${param.error}" style="color: red">
        Неправильный логин или пароль
    </div>
</form>
<a href="/auth/registration">Регистрация</a>
<form th:method="POST" th:action="@{/product/search}">
<fieldset>
    <legend>Выберите параметры для сортировки, поиска, фильтрации</legend>
    <br>
    <label for="search">Поиск по наименованию</label>
    <input type="search" name="search" th:value="*{value_search}" id="search">
    <br>
    <p>Цена, руб</p>
    <label for="ot">От</label>
    <input type="text" name="ot" th:value="*{value_price_ot}" id="ot">
    <label for="do"До</label>
    <input type="text" name="do" th:value="*{value_price_do}" id="do">
    <br>
    <br>

    <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
    <label for="ascending_price">Отсортировать по возврастанию цены</label>
    <br>
    <br>
    <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
    <label for="descending_price">Отсортировать по убыванию цены</label>
    <br>
    <br>
    <p>Категория товаров: </p>
    <br>
    <br>
    <input type="radio" id="tv" name="category" value="tv">
    <label for="tv">Телевизоры</label>
    <br>
    <br>
    <input type="radio" id="sound" name="category" value="sound">
    <label for="sound">Саундбары</label>
    <br>
    <br>
    <input type="radio" id="wall" name="category" value="wall">
    <label for="wall">Кронштейны</label>
    <br>
    <br>
    <input type="submit" value="Поиск">
</fieldset>
</form>
<h3>результат: </h3>
<div th:each="product : ${search_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>

    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
</div>
<hr>
<h3>Доступные товары: </h3>
<div th:each="product : ${products}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="title"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
</div>
</body>
</html>